  <% @carts.each do |cart| %>
         <%= cart.end_user.name %>
         <%= cart.amount %>

         <%= form_for(cart, url: cart_item_path(cart)) do |f| %>
	 
         <label>dddd</label>
	 	<%= f.number_field :amount, class: "col-xs-12" %>
	 	</div>
       
         

	 	<div class="actions row">
	 		<%= f.submit 'create book', class: "col-xs-12 btn btn-primary"  %>
	 	</div>
         
<% end %>   
       <% end %>    