<div class ="col-xs-12">
 <h1>配送先一覧</h1>
 <table class="table table-hover tablr-inverse">
 <% current_end_user.addresses.all.each do |address| %>
	 		
	 			<tr>
	 				<th>郵便番号</th>
          <td><%=address.postcode %></td>
        </tr>  
        <tr>
	 				<th>住所</th>
          <td><%=address.address %></td>
        </tr>   
        <tr>
	 				<th>名前</th>
          <td><%=address.name %></td> 
        </tr>   
        <tr>
	 				<th><%= link_to "編集", edit_address_path(address) %></th>
          <td></td> 
	 			</tr>
         <% end %>
         <tr>
	 				<th><%= link_to "戻る",end_users_mypage_path(current_end_user) %> </th>
          <td></td> 
        </tr> 
         </table>
 </div>