<div class="container">
 <div class="row">
   <div class="col-4">
   <h1>my page</h1>
　　<p>e-mail</p><%= current_end_user.email %>
    <p>名前</p><%= current_end_user.surname %> <%= current_end_user.name %>
          <p><%= link_to "編集",  edit_end_user_path(@end_user.id) %></p>
          <p><%= link_to "アカウント削除", end_user_path, data: { confirm: "退会させますか?" }, method: :delete %></p>
 </div>
</div>