<!DOCTYPE html>
<html>
  <head>
   <title>WebcampEcsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header class = "navbar navbar-top navbar-inverse">
    <div class = "container">
    <% if end_user_signed_in? %>
    <nav>
     <ul class="nav navbar-nav navbar-right">
     <li>
        <%= link_to " mypage", end_users_mypage_path(current_end_user.id) %>
      </li>
      <li> 
        <%= link_to " all carts"  %>  
      </li>
      <li>
        <%= link_to " log out", sign_out_path %>
      </li>
       <li> 
        <%= link_to " 商品一覧", items_path  %>  
      </li>
       <li> 
        <%= link_to " カート内商品一覧", cart_items_path  %>  
      </li>
     </ul>
     </nav> 

    <% elsif admin_signed_in? %>  
    <nav>
    <ul class="nav navbar-nav navbar-right">
       <li>
        <%= link_to " 受注一覧", admin_orders_path %>
      </li>
      <li> 
        <%= link_to "商品登録", new_admin_item_path  %>  
      </li>

      <li>
        <%= link_to " log out", admin_sign_out_path %>
      </li>
    <nav>
    <ul>  
   
    <% else %>
    <nav>
    <ul class="nav navbar-nav navbar-right">
      <li class="">
        <%= link_to "  Sign up", new_end_user_registration_path, class: "glyphicon glyphicon-edit" %>
      </li>
      <li class="">
        <%= link_to "  Log in", new_end_user_session_path, class: "glyphicon glyphicon-check" %>
      </li>
       <li> 
        <%= link_to " 商品一覧", items_path  %>  
      </li>
      <ul>
      <nav>
    <% end %>
    
    </ul>
    </nav>
     <div>
   </header>
    <%= yield %>
  </body>
</html>
